node_modules
*.env

apps/validate-emails/input.csv
apps/validate-emails/success.csv
apps/validate-emails/failure.csv

apps/scrape-google-maps/output

apps/extract-emails/input.csv
apps/extract-emails/results.csv

leads/*